
*.pdb
.vs/ATM/v17/.suo
bin/Debug/net5.0/ATM.deps.json
bin/Debug/net5.0/ATM.dll
bin/Debug/net5.0/ATM.exe
bin/Debug/net5.0/ATM.runtimeconfig.dev.json
bin/Debug/net5.0/ATM.runtimeconfig.json
bin/Debug/net5.0/ref/ATM.dll
obj/ATM.csproj.nuget.dgspec.json
obj/ATM.csproj.nuget.g.props
obj/ATM.csproj.nuget.g.targets
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/ATM.AssemblyInfo.cs
obj/Debug/net5.0/ATM.AssemblyInfoInputs.cache
obj/Debug/net5.0/ATM.assets.cache
obj/Debug/net5.0/ATM.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/ATM.csproj.FileListAbsolute.txt
obj/Debug/net5.0/ATM.dll
obj/Debug/net5.0/ATM.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/ATM.genruntimeconfig.cache
obj/Debug/net5.0/ref/ATM.dll
obj/project.assets.json
obj/project.nuget.cache
.vs/ATM/project-colors.json
.vs/ATM/DesignTimeBuild/.dtbcache.v2
obj/Debug/net5.0/ATM.csproj.AssemblyReference.cache
.vs/ATM/v17/.futdcache.v1
*.cs
Program.cs
