
obj/Debug/net5.0/ATM.AssemblyInfo.cs
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/ATM.AssemblyInfoInputs.cache
obj/Debug/net5.0/ATM.GeneratedMSBuildEditorConfig.editorconfig
